<div class="container" ng-app="articles" ng-controller="MainCtrl">
	<div class="page-header">
	  <h1>Wikipedia Articles <small>Sorted by Recent Updates</small>
	  	<button class="btn btn-primary btn-sm" ng-click="toggleAutoload()">Autoload: <span class="autoload-value">{{ autoload }}</span></button>
	  </h1>
	  <p>Created by <b>Edward Yeh</b></p>
	</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Article Title</th>
        <th>Edited By</th>
        <th>Updated At</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="article in articles">
        <td class="article-title"><a ng-href="https://en.wikipedia.org/?curid={{ article.pageid }}">{{ article.title }}</a></td>
        <td>{{ article.user }}</td>
        <td>{{ article.timestamp | date: 'medium' }}</td>
      </tr>
    </tbody>
  </table>
</div>